<a href="https://colab.research.google.com/github/lxxhxng/aipython/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Split and Join

In [2]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
for line in lines:
    fields = line.split(",")
    print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [26]:
a = "가나다,라마바,사"
ali = a.split(",") # 문자열.split("구분자")
print(ali)

['가나다', '라마바', '사']

In [28]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = " ".join(words) # "구분자".join(리스트) / split(' ') == split() 공백은 그냥 () 만해도 됨
print(sentence)

Hello world this is a test

In [29]:
Input = 'Geeks for Geeks'
Output = Input.split(' ')
print(Output)

['Geeks', 'for', 'Geeks']

In [30]:
Input = ['Geeks', 'for', 'Geeks']
Output = '-'.join(Input)
print(Output)

Geeks-for-Geeks

# List Comprehension

In [31]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
# new_list = [expression for item in iterable if condition]
# new_list: 리스트 변수 이름
# expression: iterable(반복가능한) 객체의 원소들을 해당하는 표현식으로 바꿔서 리스트에 저장
# for item in iterable: iterable(반복가능한) 객체의 원소들을 하나씩 차례로 반환하기위한 for문
# if condition: condition 에 해당하는 조건만 만족할시에 적용하기 위한 if문

In [35]:
even = [x**2 for x in range(5) if x % 2 == 0] # 0~4의 5개 정수에서 짝수만 제곱해서 리스트 만들기

In [36]:
even

[0, 4, 16]

In [37]:
nums = [x**2 for x in range(1, 21) if x % 3 == 0]

In [38]:
nums

[9, 36, 81, 144, 225, 324]

In [44]:
Input = [1,2,3,4,5]
Output = [x**2 for x in Input]
Output

[1, 4, 9, 16, 25]

In [45]:
Input = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
Output = [x for x in Input if x[0] == 'S'] # 첫 문자가 S인 경우
Output

['Seoul', 'Shanghai']

In [46]:
Input = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
Output = [x for x in Input if 'S' in x] # 문자열에 S가 포함 돼있는 경우
Output

['Seoul', 'Shanghai']

# Enumerate

In [67]:
# strat = 0, default
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

print('---------------------')

# start = 1
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits, start = 1):
    print(index, fruit)

0 apple
1 banana
2 cherry
---------------------
1 apple
2 banana
3 cherry

In [66]:
# enumerate
Input = ['a','b','c']
for i, a in enumerate(Input):
    print(f"fruit{i} name is {a}")

print("-----------------")

# range를 사용한 코드
Input = ['a','b','c']
for i in range(3):
    print(f"fruit{i} name is {Input[i]}")

fruit0 name is a
fruit1 name is b
fruit2 name is c
-----------------
fruit0 name is a
fruit1 name is b
fruit2 name is c

# Zip

In [72]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
    print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [80]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

dictionary = dict(zip(keys, values))
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

In [85]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

sum_result = [sum(x) for x in zip(list1, list2, list3)]

print(sum_result)

[12, 15, 18]

In [92]:
# zip
name = [ "M", "N", "S", "A" ]
roll_no = [ 4, 1, 3, 2 ]

result_set = {(n, r) for n, r in zip(name, roll_no)}
result_set

{('A', 2), ('M', 4), ('N', 1), ('S', 3)}

In [88]:
# zip and enumerate
names = ['M', 'R', 'C']
ages = [24, 50, 18]

for index, (name, age) in enumerate(zip(names, ages)):
    print(index, name, age)

0 M 24
1 R 50
2 C 18

# Lambda and Map

In [93]:
double = lambda x: x * 2
print(double(5))

10

In [101]:
# def 함수정의
def add1(x, y):
    return x+y
print(add1(1,2))

print('---------------')

# lambda 익명함수
add2 = lambda x, y: x+y
print(add2(1,2))

3
---------------
3

In [104]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x*2, numbers))
print(squared)

[2, 4, 6, 8]

In [142]:
# lambda
data_list =['but','i','wont','hesitate','no','more','no','more','it','cannot','wait','im','yours']

# Output : ['i', 'im', 'it', 'no', 'but', 'more', 'wait', 'wont', 'yours', 'cannot', 'hesitate']

In [143]:
Output = sorted(data_list, key=lambda x: len(x))

print(Output)

['i', 'no', 'no', 'it', 'im', 'but', 'wont', 'more', 'more', 'wait', 'yours', 'cannot', 'hesitate']

In [ ]:
# map & lambda
num1 = [4, 5, 6]
num2 = [5, 6, 7]
# Output : [9, 11, 13]

In [144]:
sum_result = [sum(x) for x in zip(list1, list2, list3)]

print(sum_result)

[12, 15, 18]